.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

/* Button Grid */

.buttonGrid {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.buttonItem{
  width: 80px;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border: none;
}

/* Visualizer */

.visualizer {
  margin: 5em 1em;
  background-color: #ffed88;
  padding: 5em 10em;
  width: fit-content;
  border-radius: 5px;
  position: relative;
}

